<div class="container content">
  <div class="col-12">
    <h1 class="title">PROYECTOS</h1>
  </div>
  <div class="col-12">
    <h1 class="text">Lista de proyectos</h1>
  </div>
  <div class="px-3 pb-3 col-12" *ngIf="dataTableProyectos != null">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container
        [matColumnDef]="column.nombre"
        *ngFor="let column of columnas"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.nombre }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element[column.nombre] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column align-items-center">
              <mat-icon class="icon" (click)="agregarCandidatos(element)"
                >add_circle
              </mat-icon>
              <span class="aligned-with-icon label">Agregar Candidato</span>
            </div>
            <div class="d-flex flex-column align-items-center">
              <mat-icon class="icon" (click)="detalleProyecto(element)"
                >description
              </mat-icon>
              <span class="aligned-with-icon label">Detalle</span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No hay datos que coincidan con el filtro "{{ dataSource.filter }}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" ShowFirstlastButtons>
    </mat-paginator>
  </div>
  <div class="mt-5 d-flex justify-content-around col-12">
    <button
      id="reigstro"
      class="commonButton btn btn-info mt-3"
      (click)="crearProyecto()"
    >
      Crear Proyecto
    </button>
    <button
      id="ingreso"
      class="commonButton btn btn-info mt-3"
      (click)="verMenu()"
    >
      Volver
    </button>
  </div>
</div>
