

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.title{
  color:rgba(33, 173, 204, 1) ;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.title1{
  margin-bottom: 100px;
}


.text{
  color:rgba(33, 173, 204, 1);
  font-size: 25px;
}

.commonButton{
  background: rgba(33, 173, 204, 1);
  color: white;
  width: 120px;
  border-radius: 20px;
}

.fa{
  color:rgba(33, 173, 204, 1) ;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
  color:rgba(33, 173, 204, 1) ;
}

.border{
  border-color: rgba(33, 173, 204, 1);;
}
