<div class="container content">
  <div class="col-12">
    <h1 class="title">{{ "entrevistas_detalle_titulo" | translate }}</h1>
  </div>
  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <label class="text">{{
          "entrevistas_detalle_fucionario" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'funcionario' | translate }}"
          formControlName="funcionario"
        />
      </div>
      <div class="col-12 mb-3">
        <label class="text">{{ "empresa" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'empresa' | translate }}"
          formControlName="empresa"
        />
      </div>
      <div class="col-12 mb-3">
        <label class="text">{{ "candidato" | translate }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'candidato' | translate }}"
          formControlName="candidato"
        />
      </div>
      <div class="col-12 mb-3">
        <label class="text">{{
          "entrevistas_detalle_fecha" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'fecha' | translate }}"
          formControlName="fecha"
        />
      </div>
      <div class="col-12 mb-3">
        <label class="text">{{
          "entrevistas_detalle_lugar" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'entrevistas_detalle_lugar' | translate }}"
          formControlName="lugar"
        />
      </div>
    </form>
  </div>

  <div class="mt-2 d-flex justify-content-around col-12">
    <button
      id="ingreso"
      class="commonButton btn btn-info mt-3"
      (click)="verEntrevistas()"
    >
      {{ "volver" | translate }}
    </button>
  </div>
</div>
