<div class="container content">
  <div class="col-12">
    <h1 class="title">{{ "registro_empresa_titulo" | translate }}</h1>
  </div>

  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_empresa_razon' | translate }}"
          formControlName="razonSocial"
        />
      </div>

      <div class="col-12 mb-3">
        <select class="custom-select select" formControlName="tipoEmpresa">
          <option value="" disabled selected>
            {{ "registro_empresa_tipo" | translate }}
          </option>
          <option value="Pequeña">
            {{ "registro_empresa_pequeña" | translate }}
          </option>
          <option value="Mediana">
            {{ "registro_empresa_mediana" | translate }}
          </option>
          <option value="Grande">
            {{ "registro_empresa_grande" | translate }}
          </option>
        </select>
      </div>

      <div class="col-12 mb-3">
        <textarea
          class="form-control"
          placeholder="{{ 'registro_empresa_verticales' | translate }}"
          formControlName="verticales"
          rows="3"
        ></textarea>
      </div>

      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_candidato_pais' | translate }}"
          formControlName="pais"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_candidato_ciudad' | translate }}"
          formControlName="ciudad"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="{{ 'signin_correo' | translate }}"
          formControlName="correo"
        />
      </div>

      <div class="input-group mb-3">
        <input
          [type]="fieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="contraseña"
          placeholder="{{ 'registro_candidato_contrseña' | translate }}"
        />
        <span class="input-group-text">
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"
          ></i>
        </span>
      </div>

      <div class="input-group mb-3">
        <input
          [type]="repeatFieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="repContraseña"
          placeholder="{{ 'registro_candidato_contrseñaR' | translate }}"
        />
        <span class="input-group-text">
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': !repeatFieldTextType,
              'fa-eye': repeatFieldTextType
            }"
            (click)="toggleRepeatFieldTextType()"
          ></i>
        </span>
      </div>
    </form>
    <div class="mt-5 d-flex justify-content-around">
      <button
        id="reigstro"
        class="commonButton btn btn-info mt-3"
        (click)="hacerRegistro()"
        [disabled]="!registrationForm.valid"
      >
        {{ "signin_registro" | translate }}
      </button>
      <button
        id="ingreso"
        class="commonButton btn btn-info mt-3"
        (click)="signIn()"
      >
        {{ "cancelar" | translate }}
      </button>
    </div>
  </div>
</div>
