<div class="container content">
  <div class="col-12">
    <h1 class="title">{{ "entrevistas_programar" | translate }}</h1>
  </div>
  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <select class="custom-select select" formControlName="funcionario">
          <option value="" disabled selected>
            {{ "seleccionar_funcionario" | translate }}
          </option>
          <option
            *ngFor="let funcionario of funcionarios"
            [value]="funcionario.Id"
          >
            {{ funcionario.Correo }}
          </option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <select class="custom-select select" formControlName="empresa">
          <option value="" disabled selected>
            {{ "seleccionar_empresa" | translate }}
          </option>
          <option *ngFor="let empresa of empresas" [value]="empresa.Id">
            {{ empresa.Nombre }}
          </option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <select class="custom-select select" formControlName="candidato">
          <option value="" disabled selected>
            {{ "seleccionar_candidato" | translate }}
          </option>
          <option *ngFor="let candidato of candidatos" [value]="candidato.Id">
            {{ candidato.Nombre }}
          </option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <input
            class="form-control"
            formControlName="fecha"
            placeholder="{{ 'entrevistas_detalle_fecha' | translate }}"
            name="dp"
            [(ngModel)]="fechaInicioSeleccionada"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'entrevistas_detalle_lugar' | translate }}"
          formControlName="lugar"
        />
      </div>
    </form>
  </div>

  <div class="mt-5 d-flex justify-content-around col-12">
    <button
      id="reigstro"
      class="commonButton btn btn-info mt-3"
      (click)="guardar()"
    >
      {{ "entrevistas_programar" | translate }}
    </button>
    <button
      id="ingreso"
      class="commonButton btn btn-info mt-3"
      (click)="cancelar()"
    >
      {{ "volver" | translate }}
    </button>
  </div>
</div>
