<div class="container content">
  <div class="col-12">
    <h1 class="title">{{ "entrevistas_titulo" | translate }}</h1>
  </div>
  <div class="col-12">
    <h1 class="text">{{ "entrevistas_lista" | translate }}</h1>
  </div>
  <div class="px-3 pb-3 col-12" *ngIf="dataTableEntrevistas != null">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container
        [matColumnDef]="column.nombre"
        *ngFor="let column of columnas"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.nombre }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element[column.nombre] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "acciones" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column align-items-center">
              <mat-icon class="icon" (click)="resultado(element)"
                >analytics
              </mat-icon>
              <span class="aligned-with-icon label">{{
                "resultado" | translate
              }}</span>
            </div>
            <div class="d-flex flex-column align-items-center">
              <mat-icon class="icon" (click)="detalle(element)"
                >description</mat-icon
              >
              <span class="aligned-with-icon label">{{
                "detalle" | translate
              }}</span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{ "sin_datos" | translate }} "{{ dataSource.filter }}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" ShowFirstlastButtons>
    </mat-paginator>
  </div>
  <div class="mt-5 d-flex justify-content-around col-12">
    <button
      id="reigstro"
      class="commonButton btn btn-info mt-3"
      (click)="programarEntrevista()"
    >
      {{ "entrevistas_programar" | translate }}
    </button>
    <button
      id="ingreso"
      class="commonButton btn btn-info mt-3"
      (click)="verMenu()"
    >
      {{ "volver" | translate }}
    </button>
  </div>
</div>
