.content{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}


.title{
  color:rgba(33, 173, 204, 1) ;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.text{
  color:rgba(33, 173, 204, 1);
  font-size: 25px;
}

.commonButton{
  background: rgba(33, 173, 204, 1);
  color: white;
  width: 200px;
  border-radius: 20px;
}

.list{
  overflow: auto;
  max-height: 300px;
}
