<div class="container content">
  <div class="col-12">
    <h1 class="title">REGISTRO LABORAL</h1>
  </div>

  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre empresa"
          formControlName="nombreEmpresa"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Rol"
          formControlName="rol"
        />
      </div>

      <div class="col-12 mb-3">
        <textarea
          class="form-control"
          placeholder="Funciones"
          formControlName="funciones"
          rows="3"
        ></textarea>
      </div>

      <div class="col-12 mb-3">
        <div class="input-group">
          <input
            class="form-control"
            formControlName="fechaInicio"
            placeholder="Fecha de ingreso"
            name="dp"
            [(ngModel)]="fechaInicioSeleccionada"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>

      <div class="col-12 mb-3">
        <div class="input-group">
          <input
            class="form-control"
            formControlName="fechaFin"
            placeholder="Fecha de retiro"
            name="dpp"
            [(ngModel)]="fechaFinSeleccionada"
            ngbDatepicker
            #dpp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dpp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </form>

    <hr style="color: #21adcc" />

    <div class="chips-container col-12 mb-3">
      <span class="chip mb-3" *ngFor="let chip of chips; let i = index"
        >{{ chip }}
        <button class="chip-remove" (click)="eliminarChip(i)">&times;</button>
      </span>
      <input
        type="text"
        [(ngModel)]="nuevoChip"
        (keydown.enter)="agregarChip()"
        placeholder="Habilidades"
        class="col-12 form-control"
      />
    </div>

    <hr style="color: #21adcc" />

    <div class="mt-5 d-flex justify-content-around">
      <button
        id="reigstro"
        class="commonButton btn btn-info mt-3"
        (click)="guardar()"
      >
        Guardar
      </button>
      <button
        id="ingreso"
        class="commonButton btn btn-info mt-3"
        (click)="verMenu()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
