<div class="container content">
  <div class="col-12">
    <h1 class="title">CREAR EQUIPO DE TRABAJO</h1>
  </div>
  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del grupo"
          formControlName="nombreGrupo"
        />
      </div>

      <div class="col-12 mb-3">
        <textarea
          class="form-control"
          placeholder="Descripción"
          formControlName="descripcion"
          rows="3"
        ></textarea>
      </div>

      <div class="col-12 mb-3">
        <select class="custom-select select" formControlName="funcionarios">
          <option value="" disabled selected>Seleccionar funcionarios</option>
          <option value="1">Empleado 1</option>
          <option value="2">Empleado 2</option>
          <option value="3">Empleado 3</option>
        </select>
      </div>

      <div class="text">Candidatos del equipo</div>
      <hr style="color: #21adcc" />
      <div class="col-12 list">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Candidato 1</li>
          <li class="list-group-item">Candidato 2</li>
          <li class="list-group-item">Candidato 3</li>
          <li class="list-group-item">Candidato 4</li>
          <li class="list-group-item">Candidato 5</li>
          <li class="list-group-item">Candidato 6</li>
        </ul>
      </div>
      <hr style="color: #21adcc" />

      <div class="mt-5 d-flex justify-content-end col-12">
        <button
          id="reigstro"
          class="commonButton btn btn-info mt-3"
          (click)="guardar()"
        >
          Agregar Candidato
        </button>
      </div>

      <div class="mt-5 d-flex justify-content-around col-12">
        <button
          id="reigstro"
          class="commonButton btn btn-info mt-3"
          (click)="guardar()"
        >
          Guardar
        </button>
        <button
          id="ingreso"
          class="commonButton btn btn-info mt-3"
          (click)="verLista()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
