<div class="content">
  <div class="col-12 d-flex justify-content-end p-3">
    <button
      class="btn_flag"
      *ngFor="let language of supportedLanguages"
      (click)="seleccionarLenguaje(language)"
    >
      <img
        class="flags"
        [src]="'assets/flags/' + language + '.png'"
        alt="{{ language }} flag"
      />
    </button>
  </div>
  <div class="col-12">
    <h1 class="title">ABC JOBS</h1>
  </div>
  <div id="options" class="mt-5 col-12 d-flex">
    <div class="m-3 col-6">
      <div class="d-flex justify-content-end text">
        {{ "home_empresas" | translate }}
      </div>
    </div>
    <div class="m-3 col-6">
      <button class="commonButton btn btn-info" (click)="empresa()">
        {{ "home_acceder" | translate }}
      </button>
    </div>
  </div>

  <div id="options" class="mt-5 col-12 d-flex">
    <div class="m-3 col-6">
      <div class="d-flex justify-content-end text">
        {{ "home_candidato" | translate }}
      </div>
    </div>
    <div class="m-3 col-6">
      <button class="commonButton btn btn-info" (click)="candidato()">
        {{ "home_acceder" | translate }}
      </button>
    </div>
  </div>

  <div id="options" class="mt-5 col-12 d-flex">
    <div class="m-3 col-6">
      <div class="d-flex justify-content-end text">
        {{ "home_admin" | translate }}
      </div>
    </div>
    <div class="m-3 col-6">
      <button class="commonButton btn btn-info" (click)="administrador()">
        {{ "home_acceder" | translate }}
      </button>
    </div>
  </div>
</div>
