

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.title{
  color:rgba(33, 173, 204, 1) ;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
  font-size: 50px;
}

.text{
  color:rgba(33, 173, 204, 1);
  font-size: 25px;
}

.commonButton{
  background: rgba(33, 173, 204, 1);
  color: white;
  width: 100px;
  border-radius: 20px;
}
