

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; /* O cualquier ancho máximo deseado */
  margin: 0 auto; /* Centra el contenedor */
}

.title{
  color:rgba(33, 173, 204, 1) ;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
  font-size: 50px;
}

.text{
  color:rgba(33, 173, 204, 1);
  font-size: 25px;
}

.commonButton{
  background: rgba(33, 173, 204, 1);
  color: white;
  width: 100px;
  border-radius: 20px;
}

.flags{
  width: 20px;
  height: 20px;

}

.btn_flag{
  border: none;
  margin: 2px;
  background: none;
}
