<div class="container">
  <div class="dropdown col-12 d-flex justify-content-end mt-5">
    <button class="btn optionButton" (click)="toggleDropdown()">
      Opciones
    </button>
    <div class="dropdown-menu mt-5" [ngClass]="{ show: estaAbierto }">
      <button class="dropdown-item" (click)="salir()">Salir</button>
      <label class="dropdown-item">Seleccione el lenguaje</label>
      <button class="btn_flag" (click)="seleccionarLenguaje('es')">
        <img
          class="flags"
          [src]="'assets/flags/' + 'es' + '.png'"
          alt="{{ 'es' }} flag"
        />
      </button>
      <button class="btn_flag" (click)="seleccionarLenguaje('en')">
        <img
          class="flags"
          [src]="'assets/flags/' + 'en' + '.png'"
          alt="{{ 'en' }} flag"
        />
      </button>
    </div>
  </div>

  <div class="content">
    <div class="col-12">
      <h1 class="title">{{ "bienvenido" | translate }}</h1>
    </div>
    <div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'empresa'">
        <button
          id="equipo"
          class="commonButton btn btn-info mt-3"
          (click)="verEquipoDeTrabajo()"
        >
          {{ "equipos" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'candidato'">
        <button
          id="ingreso"
          class="commonButton btn btn-info mt-3"
          (click)="verRegistroLaboral()"
        >
          {{ "registro" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'empresa'">
        <button
          id="proectos"
          class="commonButton btn btn-info mt-3"
          (click)="verProyectos()"
        >
          {{ "proyectos" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'administrador'">
        <button
          id="entrevistas"
          class="commonButton btn btn-info mt-3"
          (click)="verEntrevistas()"
        >
          {{ "entrevistas" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'administrador'">
        <button
          id="preguntas"
          class="commonButton btn btn-info mt-3"
          (click)="verPreguntasTecnicas()"
        >
          {{ "preguntas" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'candidato'">
        <button
          id="preguntas"
          class="commonButton btn btn-info mt-3"
          (click)="verPrueba()"
        >
          {{ "preguntas" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'empresa'">
        <button
          id="preguntas"
          class="commonButton btn btn-info mt-3"
          (click)="verRegistrarResultadoPrueba()"
        >
          {{ "prueba_resultado" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'administrador'">
        <button
          id="preguntas"
          class="commonButton btn btn-info mt-3"
          (click)="verResultadoPrueba()"
        >
          {{ "prueba_resultado" | translate }}
        </button>
      </div>
      <div class="col-6 mt-5" *ngIf="tipoEmpresa == 'empresa'">
        <button
          id="desempeño"
          class="commonButton btn btn-info mt-3"
          (click)="verPruebaDesempeno()"
        >
          {{ "prueba_desempeño" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
