<div class="container content">
  <div class="col-12">
    <h1 class="title">LISTA DE CANDIDATOS</h1>
  </div>
  <div class="text">Candidatos del equipo</div>
  <hr style="color: #21adcc" />
  <div class="col-12 list">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Candidato 1</li>
      <li class="list-group-item">Candidato 2</li>
      <li class="list-group-item">Candidato 3</li>
      <li class="list-group-item">Candidato 4</li>
      <li class="list-group-item">Candidato 5</li>
      <li class="list-group-item">Candidato 6</li>
    </ul>
  </div>
</div>
