<div class="container content">
  <div class="col-12">
    <h1 class="title">{{ "registro_candidato_titulo" | translate }}</h1>
  </div>

  <div class="row col-6 mt-5">
    <form [formGroup]="registrationForm" class="mx-auto">
      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_candidato_nombre' | translate }}"
          formControlName="nombre"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="number"
          class="form-control"
          placeholder="{{ 'registro_candidato_edad' | translate }}"
          formControlName="edad"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="number"
          class="form-control"
          placeholder="Telefono"
          formControlName="telefono"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="{{ 'signin_correo' | translate }}"
          formControlName="correo"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_candidato_pais' | translate }}"
          formControlName="pais"
        />
      </div>

      <div class="col-12 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'registro_candidato_ciudad' | translate }}"
          formControlName="ciudad"
        />
      </div>

      <div class="input-group mb-3">
        <input
          [type]="fieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="contraseña"
          placeholder="{{ 'registro_candidato_contrseña' | translate }}"
        />
        <span class="input-group-text">
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"
          ></i>
        </span>
      </div>

      <div class="input-group mb-3">
        <input
          [type]="repeatFieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="repContraseña"
          placeholder="{{ 'registro_candidato_contrseñaR' | translate }}"
        />
        <span class="input-group-text">
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': !repeatFieldTextType,
              'fa-eye': repeatFieldTextType
            }"
            (click)="toggleRepeatFieldTextType()"
          ></i>
        </span>
      </div>
      <div class="col-12 mb-3">
        <textarea
          class="form-control"
          placeholder="{{ 'registro_candidato_idioma' | translate }}"
          formControlName="idiomas"
          rows="2"
        ></textarea>
      </div>
    </form>

    <div class="chips-container col-12 mb-3">
      <span class="chip mb-3" *ngFor="let chip of chips; let i = index"
        >{{ chip }}
        <button class="chip-remove" (click)="eliminarChip(i)">&times;</button>
      </span>
      <input
        type="text"
        [(ngModel)]="nuevoChip"
        (keydown.enter)="agregarChip()"
        placeholder="{{ 'registro_candidato_rasgos' | translate }}"
        class="col-12 form-control"
      />
    </div>

    <div class="mt-5 d-flex justify-content-around">
      <button
        id="reigstro"
        class="commonButton btn btn-info mt-3"
        (click)="hacerRegistro()"
        [disabled]="!registrationForm.valid"
      >
        {{ "signin_registro" | translate }}
      </button>
      <button
        id="ingreso"
        class="commonButton btn btn-info mt-3"
        (click)="signIn()"
      >
        {{ "cancelar" | translate }}
      </button>
    </div>
  </div>
</div>
